---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'

import HardcodedButtons from '../components/hardcoded-buttons.astro'
import ReactButton from '../components/react-button'
import AstroButton from '../components/astro-button.astro'
---

<Layout title="Multi-style buttons">
  <Container class="mt-20">
    <HardcodedButtons />
    <section class="mt-16">
      <h2 class="text-xl font-medium">Kitchen sink</h2>
      <div class="mt-2 space-y-2">
        <div class="flex flex-wrap items-center gap-3">
          <AstroButton aria-label="fuuuuuuuuuu">Astro bold</AstroButton>
          <AstroButton impact="light">Astro light</AstroButton>
          <AstroButton impact="none">Astro none</AstroButton>
        </div>

        <div class="flex flex-wrap items-center gap-3">
          <ReactButton shape="pill" size="large">React large pill</ReactButton>
          <ReactButton shape="pill" size="small" impact="light">React small pill</ReactButton>
          <ReactButton shape="square">React fair and square</ReactButton>
        </div>

        <!--  -->
        <div>
          <div class="mt-12"></div>
        </div>
        <div class="flex flex-wrap items-center gap-3">
          <ReactButton impact="light">Light button</ReactButton>
          <ReactButton impact="none">No impact</ReactButton>

          <ReactButton size="small" shape="square">Small square</ReactButton>
          <ReactButton size="small" shape="square" impact="light">Small square</ReactButton>

          <ReactButton size="small">Small rounded</ReactButton>
          <ReactButton size="small" impact="light">Small rounded</ReactButton>

          <ReactButton size="small" shape="pill">Small pill</ReactButton>
          <ReactButton impact="light" size="small" shape="pill">Small pill</ReactButton>
          <ReactButton size="large" shape="square">Large square</ReactButton>
          <ReactButton size="medium" shape="square">Medium square</ReactButton>
          <ReactButton size="small" shape="square">Small square</ReactButton>
          <ReactButton size="large" shape="square" impact="light">Large square</ReactButton>
          <ReactButton size="medium" shape="square" impact="light">Medium square</ReactButton>
          <ReactButton size="small" shape="square" impact="light">Small square</ReactButton>
          <ReactButton size="large" shape="pill">Large pill</ReactButton>
          <ReactButton size="medium" shape="pill">Medium pill</ReactButton>
          <ReactButton size="small" shape="pill">Small pill</ReactButton>
        </div>
      </div>
    </section>
  </Container>
</Layout>
