---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'

import Modal from '../components/modal'
---

<Layout title="Refactoring creeping complexity">
  <Container class="mt-20">
    <div class="max-w-3xl mx-auto">
      <Modal client:load />
    </div>
  </Container>
</Layout>
