---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'

import CalendarReference from '../components/reference'
import DayStatusTable from '../components/calendar/day-status-table.astro'
import DayStatusTableReference from '../components/reference/day-status-table.astro'
---

<Layout title="Refactoring creeping complexity">
  <Container class="my-20">
    <div class="grid lg:grid-cols-2 gap-x-32 gap-y-20 justify-center">
      <div>
        <p>
          <span class="font-mono bg-yellow-100 px-2 py-0.5 leading-7 decoration-clone">
            // TODO: make availability status table below look like the reference table
          </span>
        </p>
      </div>
      <div class="max-w-md">
        <h2 class="uppercase text-red-500 tracking-widest text-sm font-semibold">Reference</h2>
        <CalendarReference client:only="react" />
      </div>
      <DayStatusTable />
      <DayStatusTableReference />
    </div>
  </Container>
</Layout>
