---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'

import Calendar from '../components/calendar'
---

<Layout title="Refactoring creeping complexity">
  <Container class="mt-20">
    <div class="max-w-md">
      <Calendar client:load />
    </div>
  </Container>
</Layout>
