---
import Layout from '../layouts/Layout.astro'
import Container from '../components/container.astro'

import Calendar from '../components/calendar'
import DayStatusTableReference from '../components/reference/day-status-table.astro'
---

<Layout title="Refactoring creeping complexity">
  <Container class="my-20">
    <div class="grid gap-x-32 gap-y-20 justify-center">
      <div class="max-w-md">
        <h2 class="uppercase text-blue-500 tracking-widest text-sm font-semibold">Refactoring</h2>
        <Calendar client:only="react" />
      </div>
      <!-- <DayStatusTableReference /> -->
    </div>
  </Container>
</Layout>
