<h2 class="uppercase text-slate-500 tracking-widest text-sm font-semibold">Button states</h2>
<div class="space-y-4">
  <div class="mt-4 flex gap-2 items-center">
    <div
      role="button"
      aria-disabled="true"
      tabindex="-1"
      aria-label="Thursday, September 8, 2022"
      class="relative w-12 max-w-full aspect-square rounded-full grid place-items-center focus:outline-none focus:ring focus:ring-offset-1 focus:ring-indigo-400 text-gray-300 pointer-events-none"
    >
      <span>8</span>
    </div>
    <h3 class="pl-2">Disabled</h3>
  </div>

  <div class="mt-4 flex gap-2 items-center">
    <div
      role="button"
      tabindex="0"
      aria-label="Sunday, September 18, 2022"
      class="relative w-12 max-w-full aspect-square rounded-full grid place-items-center focus:outline-none focus:ring focus:ring-offset-1 focus:ring-indigo-400 hover:bg-gray-100 text-gray-900"
    >
      <span>18</span>
    </div>
    <div
      tabindex="0"
      role="button"
      aria-label="Today, Friday, September 16, 2022, First available date"
      class="relative w-12 max-w-full aspect-square rounded-full grid place-items-center focus:outline-none focus:ring focus:ring-offset-1 focus:ring-indigo-400 text-indigo-600 font-bold"
    >
      <span>16</span><span
        class="absolute bottom-2 left-1/2 h-1 w-1 -translate-x-1/2 rounded-full bg-indigo-600"
      ></span>
    </div>
    <h3 class="pl-2">No vacancy (+ today)</h3>
  </div>

  <div class="mt-4 flex gap-2 items-center">
    <div
      role="button"
      tabindex="0"
      aria-label="Monday, September 19, 2022"
      class="relative w-12 max-w-full aspect-square rounded-full grid place-items-center focus:outline-none focus:ring focus:ring-offset-1 focus:ring-indigo-400 bg-indigo-100 text-indigo-700 font-bold hover:bg-indigo-200"
    >
      <span>19</span>
    </div>
    <div
      tabindex="0"
      role="button"
      aria-label="Today, Friday, September 16, 2022, First available date"
      class="relative w-12 max-w-full aspect-square rounded-full grid place-items-center focus:outline-none focus:ring focus:ring-offset-1 focus:ring-indigo-400 text-indigo-600 font-bold bg-indigo-100 hover:bg-indigo-200"
    >
      <span>16</span><span
        class="absolute bottom-2 left-1/2 h-1 w-1 -translate-x-1/2 rounded-full bg-indigo-600"
      ></span>
    </div>
    <h3 class="pl-2">Vacancy (+today)</h3>
  </div>

  <div class="mt-4 flex gap-2 items-center">
    <div
      tabindex="0"
      role="button"
      aria-label="Thursday, September 22, 2022 selected"
      class="relative w-12 max-w-full aspect-square rounded-full grid place-items-center focus:outline-none focus:ring focus:ring-offset-1 focus:ring-indigo-400 bg-indigo-600 text-white font-bold bg-stripes"
    >
      <span>22</span>
    </div>
    <div
      tabindex="0"
      role="button"
      aria-label="Today, Friday, September 16, 2022 selected, First available date"
      class="relative w-12 max-w-full aspect-square rounded-full grid place-items-center focus:outline-none focus:ring focus:ring-offset-1 focus:ring-indigo-400 bg-indigo-600 text-white font-bold bg-stripes"
    >
      <span>16</span><span
        class="absolute bottom-2 left-1/2 h-1 w-1 -translate-x-1/2 rounded-full bg-white"></span>
    </div>
    <h3 class="pl-2">Selected (+today)</h3>
  </div>
</div>
